/* Color */
$clr-white: #fff;
$clr-light: #f2f5f8;
$clr-gray: #a4a6a8;
$clr-dark: #0b3e60;
$clr-black: #000;
$clr-accent: #0274c1;
$clr-accent-hover: #07589b;

/* Font Sizes */
$fs-xlarge: 2.5rem;
$fs-large: 1.5rem;
$fs-medium: 1.25rem;
$fs-regular: 1rem;
$fs-small: 0.9rem;
$fs-xsmall: 0.8rem;
